
@{
    ViewData["Title"] = "AddQuestion";
}

<style>
    body {
        background-image: url(https://i.imgur.com/FPbs9yo.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #choreWarsHeader {
        text-align: center;
        color: gold;
        font-weight: 900
    }
</style>


<h1 id="choreWarsHeader">Add a Question</h1>

    
<form action="../Question/AddQuestion" method="post">
    @*UNUSED <input type="text" name="Category" placeholder="Category" />*@


    <div class="col-md-4 offset-md-4">
        <input class="form-control" type="number" name="PointValue" placeholder="Point Value" required min="1" max="100" />
    </div>

    <div class="col-md-4 offset-md-4">
        <!--<label for="difficulty">Difficluty:</label>-->
        <select class="form-control" id="difficulty" name="Difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>

    <br />

    <div class="col-md-4 offset-md-4">
        <!--<label for="questionText">Question:</label>-->
        <textarea class="form-control" type="text" rows="3" id="questionText" name="Question1" placeholder="Question Text" maxlength="440"></textarea>
    </div>

    <br />

    <div class="col-md-4 offset-md-4">
        <input class="form-control" type="text" name="CorrectAnswer" placeholder="Correct Answer" required maxlength="50" />
        <input class="form-control" type="text" name="IncorrectAnswer1" placeholder="Incorrect Answer" required maxlength="50" />
        <input class="form-control" type="text" name="IncorrectAnswer2" placeholder="Incorrect Answer" required maxlength="50" />
        <input class="form-control" type="text" name="IncorrectAnswer3" placeholder="Incorrect Answer" required maxlength="50" />
    </div>

    <div class="col-md-4 offset-md-4">
        <input class="btn btn-success btn-block" type="submit" value="Add" />
    </div>
</form>