
@{
    ViewData["Title"] = "ErrorPage";
}


<style>
    body {
        background-image: url(https://i.imgur.com/FPbs9yo.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>

<div style="color:gold" class="text-center">
    <h1>Error:</h1>
    <br />
    <h3>You do not have any custom quesetions added!</h3>
    <br />
    <a class="btn btn-success" href="../Question/AddQuestion">Add a custom question!</a>
</div>
