@{
    ViewData["Title"] = "Home Page";
}

@model List<Player>
<style>
    body {
        background-image: url(https://i.imgur.com/FPbs9yo.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #choreWarsHeader {
        text-align: center;
        color: gold;
        font-weight: 900;
    }

    #instructionsBody {
        text-align: center;
        color: darkblue;                       
        
    }

    #choosePlayer {
        text-align: center;
        color: gold;
        font-weight: 500;
    }

    #playerLink {
        color: gold;
    }
</style>



<h1 id="choreWarsHeader">WELCOME TO CHORE WARS!</h1>

<div class="container col-md-6 offset-md-3" role="tablist">
    <div class="card">
        <div class="card-header" role="tab">
            <h5 class="mb-0">
                <a class="collapsed col-md-3 offset-md-4" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    How to Play
                </a>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="background-color: grey;">
            <div class="card-body" id="instructionsBody">
                <p>1) Register/Login</p>
                <p>2) Add some Players</p>
                <p>3) Add some Chores</p>
                <p>4) Choose your Player</p>
                <p>5) Answer questions to earn Points</p>
                <p>6) Buy Chores in your player dashboard for your opponents!</p>
                <br />
                <p>Work smarter, not harder!</p>
            </div>
        </div>
    </div>
</div>
<br />  
    

    @if (User.Identity.IsAuthenticated)
    {
        <h3 id="choosePlayer">CHOOSE YOUR PLAYER</h3>
        @foreach (var player in Model)
        {
            <div class="text-center col-md-4 offset-md-4">
                <p class="text-center"><a class="btn btn-primary btn-block" href="../Home/LoginPlayer?id=@player.UserId" id="playerLink">@player.FirstName @player.LastName</a></p>
            </div>
        }
        <div class="text-center col-md-2 offset-md-5">
            <a class="btn btn-success btn-block" href="../Household/AddNewPlayer">+ Add Player +</a>
        </div>


    }

