<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Chore Wars</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3" style="color:gold; background-color:#080f81">
            <div class="container" style="background-color:#080f81">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="width:110px; height:60px" src="https://i.imgur.com/Ng9sr5t.png" alt="Logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Household" asp-action="ViewPlayers">Players!</a>
                        </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Chore" asp-action="ViewChores">Chores!</a>
                        </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Chore" asp-action="AddChore">Add Chore!</a>
                        </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Household" asp-action="AddNewPlayer">Add Player!</a>
                        </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Question" asp-action="ViewQuestions">Custom Questions!</a>
                        </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <style>
        body {
            background-image: url(https://i.imgur.com/FPbs9yo.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            color:gold;
            font-weight:900;

        }


    </style>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color:gold">
            &copy; 2020 - Chore Wars
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
